{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}
    <div class="cable_details">
        <link rel="stylesheet" href="{% static 'css/cable_index/cable_details.css' %}">
        <h2 class="cable_details_header">Cable Details</h2>

{#        <div class="field_container">#}
{#            <div>Cable Name:</div>#}
{#            <div class="cable_details_value">{{ cable.cable_name }}</div>#}
{#        </div>#}
{##}
{#        <div class="field_container">#}
{#            <div>Cap Number:</div>#}
{#            <div class="cable_details_value">{{ cable.cap_number }}</div>#}
{#        </div>#}
{##}
{#        <div class="field_container">#}
{#            <div>Clutch Number:</div>#}
{#            <div class="cable_details_value">{{ cable.clutch_number }}</div>#}
{#        </div>#}
{##}
{#        <div class="field_container">#}
{#            <div>Inductor Type:</div>#}
{#            <div class="cable_details_value">{{ cable.inductor_type }}</div>#}
{#        </div>#}
{##}
{#        <div class="field_container">#}
{#            <div>Machine:</div>#}
{#            <div class="cable_details_value">{{ cable.machine }}</div>#}
{#        </div>#}
{##}
{#        <div class="field_container">#}
{#            <div>Created On:</div>#}
{#            <div class="cable_details_value">{{ cable.created_on }}</div>#}
{#        </div>#}


        <table class="table_details">
            <tr>
                <td class="cable_details_td">Cable Name: </td>
                <td class="cable_details_value">{{ cable.cable_name }}</td>
            </tr>
            <tr>
                <td class="cable_details_td">Cap Number: </td>
                <td class="cable_details_value">{{ cable.cap_number }}</td>
            </tr>
            <tr>
                <td class="cable_details_td">Clutch Number: </td>
                <td class="cable_details_value">{{ cable.clutch_number }}</td>
            </tr>
            <tr>
                <td class="cable_details_td">Inductor Type: </td>
                <td class="cable_details_value">{{ cable.inductor_type }}</td>
            </tr>
            <tr>
                <td class="cable_details_td">Machine: </td>
                <td class="cable_details_value">{{ cable.machine }}</td>
            </tr>
            <tr>
                <td class="cable_details_td">Created On: </td>
                <td class="cable_details_value">{{ cable.created_on }}</td>
            </tr>
        </table>
        {% if request.user.is_staff or request.user.is_superuser %}
            <div>
                <a class="edit_cable" href="{% url 'cable edit' pk=cable.pk %}">Edit Cable</a>
                <a class="delete_cable" href="{% url 'cable delete' pk=cable.pk %}">Delete Cable</a>
            </div>
        {% endif %}
        {% if request.user.is_superuser  %}
            <a class="order_cable" href="{% url 'cable order' pk=object.pk %}">Order Cable</a>
        {% elif request.user.is_staff %}
            <a class="order_cable" href="{% url 'cable order' pk=object.pk %}" style="display: none">Order Cable</a>
        {% else %}
            <a class="order_cable" href="{% url 'cable order' pk=object.pk %}">Order Cable</a>
        {% endif %}
    </div>
{% endblock %}