{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}
    <div class="cable_details">
        <link rel="stylesheet" href="{% static 'css/cable_index/cable_details.css' %}">
        <h2 class="cable_details_header">Cable Details</h2>
        <div class="main_container">
            <section class="elements">
                <div class="field_container">
                    <p>Cable Name:</p>
                    <p><strong>{{ cable.cable_name }}</strong></p>
                </div>

                <div class="field_container">
                    <p>Cap Number:</p>
                    <p><strong>{{ cable.cap_number }}</strong></p>
                </div>

                <div class="field_container">
                    <p>Clutch Number:</p>
                    <p><strong>{{ cable.clutch_number }}</strong></p>
                </div>

                <div class="field_container">
                    <p>Created On:</p>
                    <p><strong>{{ cable.created_on }}</strong></p>
                </div>
            </section>
            <section class="mech-ind">
                <div class="field_container">
                    <p>Inductor Type:</p>
                    <div class="component">
                        <p><strong>{{ cable.inductor_type }}</strong></p>
                    </div>
                </div>

                <div class="field_container">
                    <p>Machine:</p>
                    <div class="component">
                        <p><strong>{{ cable.machine }}</strong></p>
                    </div>
                </div>
            </section>
        </div>
        {% if request.user.is_staff or request.user.is_superuser %}
            <div>
                <a class="edit_cable" href="{% url 'cable edit' pk=cable.pk %}">Edit Cable</a>
                <a class="delete_cable" href="{% url 'cable delete' pk=cable.pk %}">Delete Cable</a>
            </div>
        {% endif %}
        {% if request.user.is_superuser %}
            <a class="order_cable" href="{% url 'cable order' pk=object.pk %}">Order Cable</a>
        {% elif request.user.is_staff %}
            <a class="order_cable" href="{% url 'cable order' pk=object.pk %}" style="display: none">Order Cable</a>
        {% else %}
            <a class="order_cable" href="{% url 'cable order' pk=object.pk %}">Order Cable</a>
        {% endif %}
    </div>
{% endblock %}
