{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}
    <link rel="stylesheet" href="{% static 'css/cable_index/cable_index.css' %}">
    <h2 class="current_cable_header">Current Cables</h2>
    <button class="create_cable_link">Create New Cable</button>
    <form id='create_form' method="post" action="{% url "index" %}" style="display: none">
        <h3>Create New Cable</h3>
        {{ form.as_div }}
        {% csrf_token %}
        <button type="submit">Create</button>
    </form>

    <table>
        <thead>
            <tr>
                <td>Cable Name</td><td>Cap Num</td><td>Clutch num</td><td>Inductor Type</td><td>Machine</td><td>Date</td>
            </tr>
        </thead>
        <tbody>
            {% for cable in cables %}
                <tr>
                    <td><a href="{% url 'cable details' pk=cable.pk %}">{{ cable.cable_name }}</a></td>
                    <td>{{ cable.cap_number }}</td>
                    <td>{{ cable.clutch_number }}</td>
                    <td>{{ cable.inductor_type }}</td>
                    <td>{{ cable.machine }}</td>
                    <td>{{ cable.created_on }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <script src="{% static "js_scripts/create_cable.js" %}"></script>
{% endblock %}