{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}
    <link rel="stylesheet" href="{% static 'css/cable_index/cable_index.css' %}">
    <div>
        <div class="header_btn">
            <h2 class="current_cable_header">Current Cables</h2>
            {% if request.user.is_staff or request.user.is_superuser %}
                <button class="create_cable_link">Create New Cable</button>
            {% endif %}
        </div>

        <form id='create_form' method="post" action="{% url "index" %}" style="display: none">
            <h3>Create New Cable</h3>
            {{ form.as_div }}
            {% csrf_token %}
            <button type="submit">Create</button>
        </form>

        <table>
            <thead>
            <tr>
                <td>Cable Name</td>
                <td>Cap Num</td>
                <td>Clutch num</td>
                <td>Inductor Type</td>
                <td>Machine</td>
                <td>Date</td>
            </tr>
            </thead>
            <tbody>
            {% for cable in cables %}
                <tr>
                    <td><a href="{% url 'cable details' pk=cable.pk %}">{{ cable.cable_name }}</a></td>
                    <td>{{ cable.cap_number }}</td>
                    <td>{{ cable.clutch_number }}</td>
                    <td>{{ cable.inductor_type|truncatechars:10 }}</td>
                    <td id="cable_machine">{{ cable.machine|truncatechars:10 }}</td>
                    <td>{{ cable.created_on }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
        <h2 class="current_cable_header order_header">Orders</h2>

        <table>
            <thead>
            <tr>
                <td>Cable Name</td>
                <td>Quantity</td>
                <td>Company</td>
                <td>User Name</td>
                <td>Created On</td>
                <td>Order BTN</td>
                <td>Confirmed On</td>
                <td>Issued</td>
            </tr>
            </thead>
            <tbody>
            {% for order in orders %}
                <tr>
                    <td>{{ order.cable }}</td>
                    <td>{{ order.cable_quantity }}</td>
                    <td>{{ order.company_name }}</td>
                    <td>{{ order.user }}</td>
                    <td>{{ order.date_created }}</td>
                    {% if request.user.is_superuser and not order.is_confirmed %}
                        <td class="confirm_order_td"><a class="confirm_order"
                                                        href="{% url 'confirm order' pk=order.pk %}">Confirm</a></td>
                    {% elif request.user.is_staff and not order.is_confirmed %}
                        <td class="confirm_order_td"><a class="confirm_order"
                                                        href="{% url 'confirm order' pk=order.pk %}">Confirm</a></td>
                    {% elif order.is_confirmed %}
                        <td class="is_confirmed">Confirmed</td>
                    {% else %}
                        <td class="not_confirmed_td">Not Confirmed</td>
                    {% endif %}
                    {% if order.is_confirmed %}
                        <td>{{ order.updated_on }}</td>
                    {% else %}
                        <td>-</td>
                    {% endif %}
                    {% if order.is_confirmed %}
                        <td>{{ order.confirm_user }}</td>
                    {% else %}
                        <td>-</td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="{% static "js_scripts/create_cable.js" %}"></script>
{% endblock %}